*#
*.DS_Store
*~
*__pycache__/
py16db/test_data/ecoli/
tmp*/
py16db/prokaryotes.txt
reposize.sh
py16db/download_SRA.py
py16db/sralist.py
.eggs/
16db.egg-info/
prokaryotes.txt
py16db/sample_status_file
