*#
*.DS_Store
*~
*__pycache__/
tmp*/
py16db/test_data/*
py16db/prokaryotes.txt
py16db/example_data/reads*
methanococcoidessras.txt
pelobactersras.txt
test_species/
sralist.txt
reposize.sh
py16db/download_SRA.py
py16db/sralist.py
py16db/test_sralist.py